<div class="">

    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/public">Public</a>



    <p>
        <b>{{ message }}</b> via variables from index.js routes
    </p>

</div>